.terminal-main {
  margin: auto;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  border: 3px solid #eee;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, .7);
  color: white;
  font: 1em 'Courier New' monospace;
}

.terminal-ps1 {
  display: table-cell;
  width: 1%;
  bottom: 0;
  white-space: nowrap;
}

.terminal-lastline {
  display: table;
  width: 100%;
  height: auto;
  height: 1%;
}

.terminal-input {
  display: table-cell;
  width: 100%;
  background: transparent;
  color: white;
  border: 0 none;
  margin: 0;
  padding: 0;
  outline: 0 none;
  font: inherit;
}

.terminal-green {
  color: green;
}

.terminal-red {
  color: red;
}

.terminal-blue {
  color: blue;
}

.terminal-yellow {
  color: yellow;
}


.terminal-output {
  margin: 0;
  padding: 0;
  font: inherit;
}
